.hit-number{
    background-color: aquamarine;
  }
  
  .flex{
    display: flex;
  }
  
  .bingo1{
    margin: 1em;
  }
  
  .bingo2{
    margin: 1em;
  }

  .selected{
    background-color: rgb(187, 65, 65);
  }